<app-header></app-header>

<div id="container">

  <div id="navi"><canvas #canvas1 id="ctx1" width="{{width}}" height="{{height}}" style="border: 1px solid dodgerblue;"></canvas></div>
  <div id="infoi">
    <canvas #myCanvas id="myCanvas"  position = "relative" width="{{width}}" height="{{height}}" ></canvas>
  </div>
</div>
<input type='file'  (change)="onSelectFile($event)" style = "float: right"multiple>
<div id="buttons">
<button type="button" (click)="next()" class="btn btn-primary">Next</button>
<button type="button" (click)="previous()" class="btn btn-primary">Previous</button>
</div>

