#container {
    width: 100px;
    height: 100px;
    position: relative;
    
  }
  #navi,
  #infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 150;
  }
  #infoi {
    z-index: 10;
  }
#buttons{
  position:relative;
  transition: .5s ease;
      left: 202px;
      top: 525px;
}
#fileChooser
{
  position:relative;
  transition: .5s ease;
      left: 400px;
      top: 550px;

}